.tama-wig-element {
  cursor: pointer;
  border: 2px solid var(--tama-background-2);
  border-radius: 13px;

  .tama-wig-element-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
  }

  .tama-title-1 {
    margin: 10px;
  }

  &-body {
    display: grid;
    &-item {
      font-family: "Odin-Rounded";
      display: flex;
      align-items: center;
      img {
        width: 40px;
      }
      span {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
