.tama-navbar {
  background: var(--tama-background-2);
  position: fixed;
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  gap: 50px;
  -webkit-box-shadow: 0px 1px 10px 0px var(--tama-border);
  -moz-box-shadow: 0px 1px 10px 0px var(--tama-border);
  box-shadow: 0px 1px 10px 0px var(--tama-border);
  top: 0;
  left: 0;

  &__item {
    color: var(--tama-secundary-color);
  }

  img {
    width: 250px;
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
  }
}
