.tama-welcome {
  position: relative;
  z-index: 2;
  &-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 0.5;
  }

  &-content {
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border: 1px solid #a67fc0;
    border-radius: 20px;

    .tama-title-2 {
      margin-bottom: 30px;
    }
    .tama-title-1 {
      margin-top: 30px;
    }
  }
}
