<div class="tama-home">
  <tama-wig-catalog></tama-wig-catalog>

  <!-- TODO: enabled banner when admin is works -->
  <!-- <div class="tama-banner">
    <video autoplay>
      <source src="../../../assets/video/banner.mp4" type="video/mp4">
    </video>
  </div>

  <div class="tama-divisor tama-background"></div> -->

  <!-- <div class="tama-catalog">
    <div class="tama-catalog-header">
      <div class="tama-title-3">
        Catalogo
      </div>
      <div class="tama-title-1">
          Ver mas ->
      </div>
    </div>
  
    <tama-wig-catalog [carousel]="true"></tama-wig-catalog>
  </div> -->

  <!-- <div class="tama-tutorial tama-background"></div> -->


  <div class="tama-divisor tama-background"></div>

  <div class="tama-tutorials">    
    <div class="tama-title-3 tama-center">
      Tutoriales
    </div>
    <div class="tama-tutorials-content">
      <tama-carousel [content]="rent"></tama-carousel>
      <tama-carousel [content]="use"></tama-carousel>
    </div>
  </div>   

  <div class="tama-divisor tama-background"></div>

  <div class="tama-payment-methods">
    <div class="tama-title-3">
      Metodos de pago
    </div>
    <div class="tama-payment-methods-content">
      <img width="300" src="../../../assets/images/payment-methods/icon-bancolombia.png" alt="bancolombia">
      <img width="300" src="../../../assets/images/payment-methods/icon-nequi.png" alt="nequi">
    </div>
    <div class="tama-subtitle-3">
      Una vez realizado el pago no olvides enviarnos el comprobante de pago.
    </div>
  </div>
  <div class="tama-divisor tama-background"></div>
<!--   
  <div class="tama-happy-clients">
  </div> -->
</div>