.tama-home{
  overflow-x: hidden;
}

.tama-banner {
  text-align: center;
  video {
    width: 90%;
    height: 510px;
    object-fit: unset;
    margin: auto;
    border-radius: 30px;
  }
}

.tama-tutorials {
  .tama-title-3{
    margin-bottom: 20px;
  }
  &-content{
    display: flex;
    justify-content: center;
    gap: 40px;
  }

}

.tama-catalog {
  .tama-catalog-header {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }
}

.tama-payment-methods {
  margin: 30px 0;
  text-align: center;
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}


@media (max-width: 992px) {
  .tama-tutorials {
    &-content{
      flex-wrap: wrap;
    }
  }

  .tama-payment-methods {
    margin-bottom: 150px;
    &-content {
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 0;
      img {
        width: 200px;
      }
    }
    .tama-subtitle-3{
      width: 240px;
      margin: auto;
    }
  }

  .tama-divisor{
    &:last-child {
      display: none;
    }
  }
}
