<div class="tama-home">
  <div class="tama-banner">
    <video autoplay>
      <source src="../../../assets/video/banner.mp4" type="video/mp4">
    </video>
  </div>

  <div class="tama-welcome">
    <div class="tama-welcome-content">
      <div class="tama-title-2">
        ¡Hola!
      </div>
  
      <div class="tama-text">
        Tamaguchi nace en el año 2016 cuando dos hermanas enamoradas de la cultura japonesa, inician en el hermoso mundo
        del
        cosplay, por ello, deciden crear esta maravillosa idea de no sólo alquilar las pelucas para aquellas personas que
        desean traer a la vida a su personaje favorito, si no también ayudar con el mantenimiento de las mismas, ya que
        seamos sinceros…Para un cosplayer o amante de las pelucas, estas son su más valioso tesoro y su más grande
        inversión.
        <br> <br>
        Recuerda que estamos dispuestos a ayudarte para que tú cosplay soñado sea un éxito, ya sea por medio del alquiler
        o
        devolviéndole la vida a tus pelucas.
        <br> <br>
        No olvides revisar las novedades que te traemos del universo kawaii ✧◝(⁰▿⁰)◜✧
      </div>

      <div class="tama-title-1">
        Gracias por visitar <br><br> Tamaguchi Store Colombia.
      </div>
  
    </div>
  </div>

  <div class="tama-tutorial tama-background">

  </div>

  <div class="tama-payment-methods">
    <div class="tama-title-3">
      Metodos de pago
    </div>
    <div class="tama-payment-methods-content">
      <img width="300" src="../../../assets/images/payment-methods/icon-bancolombia.png" alt="bancolombia">
      <img width="300" src="../../../assets/images/payment-methods/icon-nequi.png" alt="nequi">
    </div>
    <div class="tama-subtitle-3">
      Una vez realizado el pago no olvides enviarnos el comprobante de pago.
    </div>
  </div>

  <tama-wig-catalog [carousel]="true"></tama-wig-catalog>

  <div class="tama-happy-clients">
  </div>
</div>