.tama-banner {
  video {
    width: 100%;
    height: 400px;
  }
}

.tama-welcome,
.tama-tutorial {
  width: 100%;
  height: 400px;
}

.tama-welcome {
  text-align: center;
  position: relative;
  &-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .tama-title-2 {
      margin-bottom: 30px;
    }
    .tama-title-1 {
      margin-top: 30px;
    }
  }
}

.tama-payment-methods {
  margin: 30px 0;
  text-align: center;
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
