/* latin */
@font-face {
  font-family: "04B-30";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/04B-30.TTF") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Odin-Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Odin-Rounded.otf") format("otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.tama-font-1 {
  font-family: "04B-30", sans-serif !important;
}

.tama-font-2 {
  font-family: "Odin-Rounded", sans-serif !important;
}

.tama-title-1 {
  font-family: "04B-30", sans-serif !important;
}

.tama-subtitle-1 {
  font-family: "Odin-Rounded", sans-serif !important;
}

.tama-p-1 {
  font-family: "Odin-Rounded", sans-serif !important;
}
