@font-face {
  font-family: "04B-30";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/04B-30.TTF") format("opentype");
}

@font-face {
  font-family: "Odin-Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Odin-Rounded.otf") format("opentype");
}

.tama-font-1 {
  font-family: "04B-30";
}

.tama-font-2 {
  font-family: "Odin-Rounded";
}

.tama-title-1,
.tama-title-2,
.tama-title-3 {
  font-family: "04B-30";
  font-size: 20px;
  color: var(--tama-secundary-color);
}

.tama-title-2 {
  font-size: 30px;
}

.tama-title-3 {
  font-size: 40px;
}

.tama-subtitle-1,
.tama-subtitle-2,
.tama-subtitle-3 {
  font-family: "Odin-Rounded";
  font-size: 13px;
  color: var(--tama-primary-color);
}

.tama-subtitle-2 {
  font-size: 15px;
}

.tama-subtitle-3 {
  font-size: 17px;
}

.tama-text {
  font-family: "Odin-Rounded";
  font-size: 17px;
  color: var(--tama-text);
  line-height: 1.5;
}

.tama-p-1 {
  font-family: "Odin-Rounded";
}


@media (max-width: 992px) {
  .tama-title-3 {
    font-size: 30px;
  }

  .tama-text {
    font-size: 15px;
    line-height: 1.3;
}
}