:root {
  --tama-primary-color: #fb8eb1;
  --tama-secundary-color: #a67fc0;
  --tama-tertiary-color: #f8eab7;
  --tama-background: #fb8db0;
  --tama-background-2: #fde8ef;
  --tama-border: #de6492;
  --tama-54303b: #54303b;
}
