.tama-wig-catalog {
  display: grid;
  gap: 40px;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carousel {
}

@media (max-width: 992px) {
  .tama-wig-catalog {
    grid-template-columns: 1fr;
  }
}
